<h1>Listing civilizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @civilizations.each do |civilization| %>
  <tr>
    <td><%= civilization.name %></td>
    <td><%= civilization.notes %></td>
    <td><%= link_to 'Show', civilization %></td>
    <td><%= link_to 'Edit', edit_civilization_path(civilization) %></td>
    <td><%= link_to 'Destroy', civilization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Civilization', new_civilization_path %>
