<h1>Listing wonders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wonders.each do |wonder| %>
  <tr>
    <td><%= wonder.name %></td>
    <td><%= wonder.notes %></td>
    <td><%= link_to 'Show', wonder %></td>
    <td><%= link_to 'Edit', edit_wonder_path(wonder) %></td>
    <td><%= link_to 'Destroy', wonder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wonder', new_wonder_path %>
